
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-google-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared atyles */
.for-margin{
    margin: 0 141px;
}

/* nav bar styles */

.navPosition{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.img-logo{
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.orange{
    color: orange;
}
.sky-blue{
    color: skyblue;
}
#facility{
    color: #05D4DF;
}
#admission{
    color: #5D58EF;
}

ul,a{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

.btn-primary{
    background-color: orange;
    color: white;
    border-radius: 12px;
    margin: 6px;
    padding: 10px 60px;
    font-weight: 600;
    border: none;
}

/* header section */

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.title{
    font-weight: 700;
    font-size: 46px;
}
.paragraph1{
    margin: 122px 0px;
}

.btn-secondary{
    background-color: black;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 10px 47px;
}

/* satandard curriculam sector */

h1{
    font-weight: 700;
    font-size: 37px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.for-bg{
    background-image: url('/assets/bg.png');
}
.standard-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    /* background-image: url('/assets/bg.png'); */
}
.kinder-section{
    border-radius: 19px;
    justify-content: center;
    align-items: center;
}
.elementary-section{
    border-radius: 19px;
    justify-content: center;
    align-items: center;
}
.middle-year-section{
    border-radius: 19px;
    justify-content: center;
    align-items: center;
}
.section-para{
    color: #808080;
}
.kinder-btn{
    color: skyblue;
    background-color: white;
    border: none;
}
.elementary-btn{
    color: orange;
    background-color: white;
    border: none;
}
.middle-school-btn{
    color: #8700FF;
    background-color: white;
    border: none;
}

/* our story section */

.our-story {
        background-image: linear-gradient(to bottom, rgba(254, 161, 1, 0.068), rgba(254, 161, 1, 0.281)), url('/assets/bg.png');
}
    
.group38{
    display: flex;
    gap: 19px;
}
.group20{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
}

/* view all button */

#frame3{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 61px;
    margin: 60px;
    align-items: center;
}

/* footer section */

.rectangle17{
    background-color: #01ACFD;
    padding-top: 123px;
    padding-bottom: 174px;
    padding-left: 140px;
    padding-right: 229px;
}

.group35{
    display: flex;
    color: white;
}

.kids-edu{
    display: flex;
}

.social-media{
    display: flex;
    gap: 10px;
}

.about-school-btns{
    background-color: #01ACFD;
    color: white;
    border: none;
    margin-top: 20px;
}