
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-google-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared atyles */
.for-margin{
    margin: 0 141px;
}

body
{
    margin: 0px;
}

.textCenter{
    text-align: center;
}
.textJustify{
    text-align: justify;
}
/* nav bar styles */

.navContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navPosition{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.img-logo{
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.orange{
    color: orange;
}
.sky-blue{
    color: skyblue;
}
#facility{
    color: #05D4DF;
}
#admission{
    color: #5D58EF;
}

ul,a{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 32px;
    font-weight: 500;
}

.btn-primary{
    background-color: orange;
    color: white;
    border-radius: 12px;
    margin: 6px;
    padding: 10px 60px;
    font-weight: 600;
    border: none;
}
.btn-primary:hover{
    background-color: rgb(223, 130, 9);
}

.hamburger-icon{
    display: none;
    cursor: pointer;
}

.hamburger-icon img {
    width: 30px;
    height: auto;
}

.custom-line {
    border: none; 
    height: 2px; 
    background-color: #FEA301; 
    margin: 20px 0; 
    display: none;
}
/* header section */

header{
    display: flex;
    justify-content: center;

}
.display{
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.titleContainer{
    width: 90%;
}

.title{

    font-weight: 700;
    font-size: 46px;
}
.paragraph1{
    margin: 122px 0px;
}

.btn-secondary{
    background-color: black;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 10px 47px;
}
.btn-secondary:hover{
    background-color: gray;
}

.r-img{
    width: 95%;
}
.r-img img{
    width: 100%;
}
/* satandard curriculam sector */

main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: 700;
    font-size: 37px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.for-bg{
    background-image: url('../assets/bg.png');
}

.standard-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 28px;
    width: 1160px;
}
.sections{
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 19px;
    width: 33%;
    height: 340px;
    padding: 40px;
}

.curriculam{
    width: 1160px;

}

.ks-color1{
    background: linear-gradient(to bottom, rgba(65, 199, 204, 0.301), rgba(254, 180, 123, 0.8));
}

.ks-color2{
    background: linear-gradient(to bottom, rgba(226, 169, 45, 0.384), rgba(174, 221, 44, 0.377));
}

.ks-color3{
    background: linear-gradient(to bottom, rgba(73, 95, 218, 0.301), rgba(202, 59, 154, 0.63));
}

.section-para{
    color: #808080;
}
.kinder-btn{
    color: skyblue;
    background-color: white;
    border: none;
    background-color: rgba(254, 180, 123, 0);
    padding-top: 20px;
}
.kinder-btn:hover{
    color: #5D58F0;
    scale: 1.1;
}
.elementary-btn{
    color: orange;
    background-color: white;
    border: none;
    background-color: rgba(172, 211, 66, 0);
    margin-top: 20px;
}

.elementary-btn:hover{
    scale: 1.1;
    color: orangered;
}

.middle-school-btn{
    color: #8700FF;
    background-color: white;
    border: none;
    background-color: rgba(202, 59, 154, 0);
    margin-top: 20px;
}

.middle-school-btn:hover{
    color: rgb(13, 48, 243);
    scale: 1.1;
}

.odvut-btn{
    color: white;
    background-color: orange;
    border-radius: 50%;
    border: none;
    height: 70px;
    width: 70px;
    font-weight: 700px;
    font-size:35px;
    margin-bottom: 60px;
    margin-top: 90px;
    background: linear-gradient(to left, rgba(241, 0, 0, 0.568),orange );
}
.odvut-btn:hover{
    background-color: orangered;
    scale: 1.2;
}

/* our story section */

.storyContainer{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(254, 161, 1, 0), rgba(254, 237, 1, 0.295)), url('/assets/bg.png');
    display: flex;
    justify-content: center;
}
.our-story {
    width: 1160px;
}

.for-content-alignment{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.group38{
    display: flex;
    align-items: start;
    gap: 19px;
}
.group20{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 19px;
}

.btn1{
    color: white;
    border-radius: 48px;
    border: none;
    background-color: #3CD8E8;
    margin-left: 38px;
    padding: 15px 19px;
    margin-top: -25px;
}
.btn2{
    color: white;
    border-radius: 48px;
    border: none;
    background-color: #95B226;
    margin-left: 38px;
    padding: 10px 15px;
    margin-top: -25px;
}
.btn3{
    color: white;
    border-radius: 48px;
    border: none;
    background-color: #5D58F0;
    margin-left: 38px;
    padding: 10px 15px;
    margin-top: -25px;
}
.artcle-margin{
    padding-left: 38px;
    padding-right: 68px;
    padding-bottom: 35px;
}
.artcle-margin-group20{
    padding-left: 38px;
    padding-right: 38px;
}
.article-para-color{
    color: #666666;
}
.article1{
    background-color: white;
    border-radius: 16px;


}
.article{
    background-color: white;
    border-radius: 16px;
}
.img-article {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: block;
}

/* view all button */

#frame3{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 61px;
    margin: 60px;
    align-items: center;
}
#frame3:hover{
    background-color: gray;
}

/* footer section */

.rectangle17{
    color: white;
    background-color: rgba(100, 99, 99, 0.719);
    padding-top: 123px;
    padding-bottom: 174px;
    padding-left: 140px;
    padding-right: 229px;
}

.group35{
    display: flex;
    justify-content: space-around;
}

.kids-edu{
    display: flex;
}
.kids-edu-total{
    width: 30%;
}

.social-media{
    display: flex;
    gap: 10px;
}
.sm{
    color: #05D4DF;
}
.sm:hover{
    scale: 1.5;
}
.about-school-btns{
    background-color: rgba(128, 128, 128, 0);
    color: white;
    border: none;
    margin-top: 20px;
}
.about-school-btns:hover{
    color: black;
}

/* for media query */

@media screen and (max-device-width: 430px)  {

    .hamburger-icon{
        display: block;
    }
    .navOption,.navButton{
        display: none;
    }
    .navPosition{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .custom-line
    {
        display: block;
        margin: 10px;
    }
    .display{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }  
    .standard-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .curriculam{
        width: 100%;
    }
    .sections{
        width: 70%;
    }

    .arrowContainer{
        display: none;
    }
    .article1{
        display: none;
    }
    .our-story{
        width: 100%;
    }

    .group20{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .article{
        width: 45%;
    }
    .img-article{
        width: 100%;
    }


    .rectangle17{
        padding: 20px;
    }
    .group35{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .kids-edu-total{
        width: 100%;
    }

    .btn3,.btn2{
        margin-left: 20px;
    }
    
}
